<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1 minimum-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="static/style.css">
<title></title>

<script type="text/javascript">

MAIN_LOG_DISPLAY_LEN =  {{ MAIN_LOG_DISPLAY_LEN }}

</script>
<script type="text/javascript" src="static/ajaxchat.js"></script>

</head>
<body OnLoad="timekeeper(); document.form1.speech.focus()">
  <div id='mainwindow'>
  {% for line in lines %}
  <div class="balloon {{line['side']}}-box">
    <div class="balloonbox">
    <div id="balloon-{{line['side']}}">
    <p class="txt">{{line['speech']}}</p></div></div>
    <p class="img"><img src="static/{{line['side']}}.png"/></p>
  </div>
  {% endfor %}
  </div>
<div id="console">
<FORM ACTION="" method="POST" name="form1" onsubmit="return engage()">
<INPUT TYPE="text" id='speech' name="speech" style="width:80%;">
<INPUT TYPE="button" value="送信" onclick="return engage()" style="width:15%">
</FORM>
</div>

</body>
</html>
